html{
   height: 100%;
   text-align:center;
}
body{
   margin: 0;
   padding: 0;
   height: 100%;
}
#one{
height:100%;
}
#header{
display:none;
}
#dialog{
visibility:hidden;
}
#intro{
position:absolute;
top:10%;
}
#question{
margin-left:10%;
margin-right:10%;
white-space:normal;
}
input[type=checkbox]{
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}
#landList{
height:100%;
overflow:hidden;
}
 #landList li{
	 height:33%;
 }
 .libtn{
	 margin-top: 15%; !important
	 border: 0;
 }
 .liDown{
	 position:absolute;
	 top:40%;
 }
