html{
   height: 100%;
   text-align:center;
}
body{
   margin: 0;
   padding: 0;
   height: 100%;
}
#one{
height:100%;
}
#header{
display:none;
}
#dialog{
visibility:hidden;
}
#intro{
position:absolute;
top:10%;
}
#question{
margin-left:10%;
margin-right:10%;
white-space:normal;
font-size: 40px;
color: black;
font-weight: 300; !important
}
#fcsid{
position: fixed;
top: 0;
right: 0;
}
input[type=checkbox]{
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}
#landList{
height:100%;
overflow:hidden;
}
 #landList li{
	 height:50%;
 }
 #landList .ui-btn-text{
	 font-size: 60px !important;
 }
 #footButtons .ui-btn-text{
	 font-size: 40px;
 }
 .libtn{
	 border: 0;
	 top: 15px;
 }
 .ui-btn {
	 font-size: 25px;
 }
 .ui-mini{
	 font-size: 40px;
 }
 .ui-checkbox .ui-btn-text{
	 font-size: 40px;
 }
 .ui-controlgroup-controls{
	 text-align: center;
	 width: 200% !important;
 }
 .ui-select {
	 font-size: 40px;
}
 body, input, select, textarea, button, .ui-btn {
	 line-height: 1.1;
	 font-size: 40px;
 }
 .ui-header {
	 min-height: 100px;
 }
 .select {
	     font-size: 40px !important;
 }
